*{
    margin: 0;
}
.titulo{
    background-color: rgb(184, 95, 44);
    color:white;
    padding:10px;
    height: 100px;
}
.titulo h1{
    margin-top:30px;
    margin-left:20px;
}
.data{
    padding:10px;
}
.main h2{
    font-family: 'Dancing Script', cursive;
    padding:10px;
}
.main img{
    border: 4px solid black;
    margin:10px;
    margin-left:60px;
}
